numpy==1.26.4
matplotlib==3.8.3
pymupdf==1.25.5
pandas==2.2.3
camelot-py==1.0.0 #in conflict with pdfplumber (because use different pdf-miner version)
# tensorflow==2.18.0 #maybe not and use pytorch instead
torch==2.7.1
transformers==4.51.3 #was 4.51.3
datasets==3.5.0
evaluate==0.4.3
accelerate==1.6.0
pdfplumber==0.11.6 #in conflict with camelot-py
pytesseract==0.3.13
pdf2image==1.17.0
tqdm==4.67.1
sentencepiece==0.2.0
levenshtein==0.27.1
qwen-vl-utils[decord]==0.0.8 #only used for qwen2.5VL
timm #used by gemma 3n